/* 3rd party imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300;1,700&display=swap');

/* Default styles */
:root {
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* a:link,
a:-webkit-any-link, */
a {
  font-style: italic;
  text-decoration: none;
  color: var(--col-r-link);
}

a:hover {
  text-decoration: underline;
}

/* Design Variables */
:root {
  /* spaces */
  --p1: 0.25rem;
  --p2: 1rem;
  --p3: 1.75rem;

  --main-content-width: 40rem;
  --calculated-main-content-width: min(100%, var(--main-content-width));

  /* colors */
  --col-black: rgb(14, 20, 27);
  --col-darkgrey-1: rgb(24, 38, 53);
  --col-lightgrey-1: rgb(156, 168, 180);
  --col-white: rgb(242, 245, 247);
  --col-pink: rgb(255, 10, 120);
  --col-blue: rgb(87, 115, 255);
  --col-yellow: rgb(255, 225, 0);

  --col-r-primary: var(--col-blue);
  --col-r-secondary: var(--col-pink);

  /* color roles */
  --col-r-warn: var(--col-yellow);
  --col-r-bg: var(--col-darkgrey-1);
  --col-r-card-bg: var(--col-black);
  --col-r-text: var(--col-white);
  --col-r-link: var(--col-r-primary);
  --col-r-header: var(--col-r-primary);
  --col-r-text-light: var(--col-lightgrey-1);
}

/* "Reset" */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  height: 100%;
  font-size: 1.1rem;
  line-height: 1.5;
  background-color: var(--col-black);
}

#root {
  height: 100%;
  color: var(--col-r-text);
}

/* "Component" styles */

.App {
  background-color: var(--col-r-bg);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--p3);
}

header > nav > ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

/* header > nav > ul a:link,
header > nav > ul a:visited, */
.nav__item,
.nav__item {
  font-style: normal;
  color: var(--col-r-secondary);
}

.nav__item--active {
  font-style: italic;
  font-weight: 800;
  text-decoration: underline;
}

footer {
  padding: var(--p3);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: start;
  align-items: center;
  padding: 0 var(--p2);
}

.main-content-container {
  width: var(--calculated-main-content-width);
}

.card {
  background-color: var(--col-r-card-bg);
  padding: var(--p2);
}

.bloglist {
  width: var(--calculated-main-content-width);
  display: flex;
  flex-direction: column;
  gap: var(--p2);
}

.full-blog-container {
  display: flex;
  flex-direction: column;
  gap: var(--p2);
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--p2);
  background-color: var(--col-r-card-bg);
  padding: var(--p2);
  overflow-wrap: break-word;
}

h1,
h2 {
  text-align: center;
  font-style: italic;
  font-weight: 700;
  color: var(--col-r-header);
}

h2 {
  font-size: 2rem;
}

.text-light {
  font-style: italic;
  color: var(--col-r-text-light);
  font-size: 0.9rem;
}

.text-center {
  text-align: center;
}

.error-box {
  color: var(--col-r-warn);
}
