body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex-grow: 1;
  width: 50rem;
  max-width: calc(100% - 0.5rem);
}

.header {
  width: 100%;
}

.footer {
  width: 100%;
}
